a {
  color: white;
  background-color: black;
  text-decoration-line: none;
  padding: 5px;
  border-radius: 5px;
}
a:hover {
  text-decoration-line: underline;
}
a:active {
  color: green;
  text-decoration-line: underline;
  text-decoration-color: green;
}

/* ul {
  list-style-type: none;
}
ul li {
  border: 2px red solid;
}
ol {
  list-style-type: upper-latin;
} */

#consectetur1 {
  color: white;
  background-color: black;
  display: inline;
  width: 200px;
  height: 200px;
  margin: 20px;
}
#consectetur2 {
  color: white;
  background-color: black;
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 20px;
}
#consectetur3 {
  color: white;
  background-color: black;
  display: block;
  width: 200px;
  height: 200px;
  margin: 20px;
}
